.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.banner {
  min-width: 100%;
  max-width: 100%;
  
  
  
}

.bannerTittle {
  position: absolute;
  color: white;
  top: 110px;
  left: 130px;
}

header.topo {
  position: relative;
  height: 235px;
  overflow: hidden;
  background-image: url('./Img/banner.jpg');
  background-size: cover;
  font-size:25px;
}

.search{
  background-color:rgb(109, 6, 6);
  border-color: rgb(0, 0, 0);
  color:white;
  cursor:pointer;
 
}

.plusbutton{
  position:fixed;
  right:20px;
  bottom:20px;
  color:rgb(255, 255, 255);
  border-style:solid;
  border-color:rgb(0, 0, 0);
  border-radius: 100%;
  width: 20px;
  height: 20px;
  font-size: 26px;
  padding: 0px 0px 19px 0px;
  text-align: center;
  background-color: rgba(109, 6, 6);
  cursor:pointer;

}
 .barRight{
   width: 35%;
   position:absolute;
   right: 0;
   height:100%;
   background-color:rgba(5, 81, 151, 0.808);
   top:0;
 }

 .invisible{
   width: 65%;
   left: 0;
   background-color: transparent;
   position: absolute;
   height: 100%;
   top: 0;
 }

 .jobposition{
   position:absolute;
   background-color:rgb(48, 47, 47);
   background-size: cover;
   width:100%;
   height:100%;
   left:0;
   top:0;
   
 }
